body{
	color:#353535;
	font:300 16px/150%'Noto Serif',serif;
	overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  margin: 0;
  position: relative;
}
@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

h1,h2,h3{
  line-height: 120%;
  font-weight: bold;
  margin: 0;
}
h4,p{
  line-height: 150%;
  font-weight: normal;
  margin: 0;
  margin-top: .5em;
}

h1{font-size:2.5em;}
h2{font-size: 1.8em;}
h3{
  font-size: 1.5em;
  text-transform: capitalize;
}
text{
  fill:#353535;
  font:300 12px/150%'Noto Serif',serif;
}
.note{
  font-size: .8em;
  font-weight: normal;
}
em{font-style: italic;}
mark{
  font-weight: bold;
  background-color:#FFF49E; 
}

nav{width:1200px;margin:auto;}
nav a{display:inline-block;color:#fff;text-decoration:none;padding:.25em;margin:.25em 1em .25em 0;border-bottom:2px solid transparent;-webkit-transition:border-color .4s;}
nav a:hover{border-bottom:2px solid #fff}

.article h1{text-align:left;margin:0 0 .25em 0}
.article h3{border:none}
.article blockquote{float:none;margin:2em auto;border-radius:7px;border-bottom:2px solid #808080}
.article p{color:#ccc}
.article img{display:block;margin:1.5em auto;padding:.5em;border:1px solid rgba(255,255,255,0.1)}
.contra-block h3{background:rgba(255,255,255,0.1);padding:.5em;border-radius:7px}
h2{clear:both}
h2 a,h3 a{opacity:0}
h2 a.btn{opacity:1}
h2:hover a,h3:hover a{opacity:1;text-decoration:none;transition:opacity .3s}
h3{font-size:100%;padding-bottom:6px;border-bottom:1px solid rgba(255,255,255,0.1)}
a{color:#add8e6}
input{padding:.5em;margin:.5em 0;border:none;border-radius:3px}
blockquote{float:left;color:#aaa;position:relative;background:rgba(255,255,255,0.05);font-size:10pt;padding:1em 1em 1em 2em;margin:1em;border-radius:7px;max-width:524px;}
blockquote:before{content:'â€œ';font-size:72pt;font-family:sans-serif;position:absolute;top:-12px;left:6px;opacity:.2}
blockquote:after{content:'â€';font-size:72pt;font-family:sans-serif;position:absolute;right:6px;bottom:-58px;opacity:.2}
blockquote.science{border-bottom:2px solid #2e8b57}
blockquote.violence{border-bottom:2px solid #dc143c}
blockquote.misogyny{border-bottom:2px solid #ff69b4}
blockquote.homosexual{border-bottom:2px solid #9400d3}
blockquote.poll{border-bottom:2px solid #4682b4}
blockquote div{text-align:right;padding:0 1em 0 1em}
.article em,.article strong{color:#fff}
pre code{display:block;padding:12px;background:rgba(255,255,255,0.1);border-radius:7px;border-bottom:2px solid #aaa}
.book-news a{display:block;padding:0;text-align:center}
rect{stroke:none;fill:#eee;transition:fill .3s;}
rect:nth-child(even){fill:#3f75a2}
/*rect:hover{cursor:pointer;fill:white;transition:fill .3s}*/
rect.science-chart{fill:#2e8b57;}
rect.science-chart:hover{fill:#6dae89}
rect.violence-chart{fill:#dc143c;}
rect.violence-chart:hover{fill:#e65b77}
rect.misogyny-chart{fill:#ff69b4;}
rect.misogyny-chart:hover{fill:#ff96ca}
rect.homosexual-chart{fill:#9400d3;}
rect.homosexual-chart:hover{fill:#b44de0}
rect.nt{opacity:.5}
rect.selected{fill:#fff}
/* text{fill:#353535;font-size:1.2em} */
.clear{clear:both}
.btn{display:inline-block;padding:1em;color:#fff;background:#dc143c;border-radius:7px;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,0.3),1px 1px 0 rgba(255,255,255,0.3);box-shadow:1px 1px 3px rgba(0,0,0,0.5);transition:background-color .3s;}
.btn:hover{background:#ec2d53}
.btn-small{padding:.5em;font-size:70%;border-radius:5px}
.context{max-width:18px;white-space:nowrap;overflow:hidden;transition:max-width .5s;}
.context .label{display:none}
.context:hover{max-width:150px;}
.context:hover .label{display:inline-block}
.arc path{stroke:#dc143c;stroke-width:1;fill:none}
.arc:hover path{cursor:pointer;stroke:#ffc0cb !important}
.filters{position:absolute;opacity:.5;}
.filters label{display:inline-block;width:60px}
.filters select{display:inline-block;position:relative;width:120px;bottom:2px;margin-bottom:4px}
.axis,.axis path,.axis line{fill:none;stroke:#262626;shape-rendering:crispEdges}
.axis text{fill:#555;stroke:none;font-weight:normal;shape-rendering:crispEdges}
.piechart{stroke:#222;}
.piechart path:hover{cursor:pointer}
.subdued{opacity:.5}
.block{float:left;background:rgba(255,255,255,0.1);width:252px;padding:12px;margin:12px;border-radius:7px;border-bottom:2px solid #808080}
.books{text-align:center;}
.books a{display:inline-block;margin-right:18px}
.poster{float:left;width:400px;padding-right:60px;}
.poster:first-child{padding-left:10em}
.poster img{padding-right:1em}
.poster h4,.poster h5{margin-top:0;padding-top:0}
.left{float:left}
.right{float:right}
.quarter{width:20%}
.threequarters{width:78%}
#social{text-align:center;margin:1em;}
#social .spacer{display:inline-block;width:24px}
.contradictionsTable{font-size:7pt;margin-top:24px;margin-bottom:24px;}
.contradictionsTable td{width:300px}
.contradictionsTable a{text-decoration:none}
textarea{padding:1%;border-radius:6px}
#translations textarea{width:46%;height:26px;margin-bottom:1em;}
#translations textarea:first-child{margin-right:24px}
.languageLinks{text-align:center;margin:1em 0;}
.languageLinks a{margin:.2em .5em}
#feedButton{display:inline-block;padding:.25em .5em;color:#fff;background-color:#4682b4;text-decoration:none;border:#315b7e;border-radius:3px}
#footer,.footer{text-align:center;opacity:.4}
#selected{position:fixed;top:20px;right:20px;width:400px;background:rgba(255,255,255,0.1);padding:12px;border-radius:7px;opacity:0;text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
#donate{position:fixed;bottom:0;right:12px;padding:.5em 1em;color:#fff;background:rgba(0,0,0,0.5);text-decoration:none;border-top-right-radius:7px;border-top-left-radius:7px;transition:box-shadow .5s;}
#donate:hover{box-shadow:0 0 7px #fff;transition:box-shadow .5s}
#filter-notice,#contra-notice{position:absolute;background:rgba(255,255,255,0.2);padding:12px;border-radius:7px;opacity:0;text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
#filter-notice{top:112px;left:50%;margin-left:-400px}
#contra-notice{top:260px;left:50%;width:210px;margin-left:-105px}




.background {
  fill: none;
  pointer-events: all; 
}

svg{
  background: white;
}

.country{
  fill: #ccc;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
  stroke-width: .3;
  transition-property: ease-in-out;
  transition:fill .3s;
}
.country:hover{
	fill:#bbb;
}
.selected{
  fill: #FFF49E;
}

.site {
	opacity: 0.5;
}

#slider3{
  position: fixed;
  width: 1000px;
  /*display: none;*/
  bottom: 30px;
  left:19px;
}

#tooltip {
  text-align: left;
  padding: 1.5em;
  color: #353535;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1em;
  width: auto;
  opacity: 0;
  box-shadow: 0 0 1em 0 rgba(67, 71, 83, 0.12);
  position: absolute;
}
#c_r{
	font-weight: bold;
	font-size: 1.3em;
}

#map{
  width: 100%;
  position: absolute;
}

aside{
  width: 30vw;
  position: fixed;
  z-index: 150;
  left: 4vw;
  top:4vw;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.card{
  width: 100%;
  padding: 1.5em;
  margin-bottom: 1em;
  text-align: left;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.66);
  box-shadow: 0 2px 1em 0 rgba(0, 0, 0, 0.12);
}

.drag{
  overflow: hidden;
  position: absolute;
  display: none;
  background-color: rgba(255,255,255,0.9);
  
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.16);
  z-index: 999;
  opacity: 1;
  
  transition-property: ease-in-out;
  transition:opacity .5s;
  cursor: move;
}
#drag-text{
  min-width: 12em;
  max-width: 18em;
  top:30vh;
  right: 2em;
  padding: 1em;
  padding-top: .5em;
  border:2px solid #9eb4e8;
  border-top:24px solid #9eb4e8;
}
#drag-img{
  padding: .2em;
  max-width: 20em;
  top:60vh;
  right: 1em;
}
#drag-img img{
  width: 100%;
}
#drag-img a{
  color: #ccc;
  display: none;
}

#info{display: none;}

#chart{
  display: none;
}

#explanation{
  display: none;
}

#chart svg,
#chart svg g{
	width: 100%;
  height: 360px;
}

#annotation{
  display: flex;
  position: absolute;
  left: 220px;
  top: 290px;
  width: 100%;
  
  transform:rotate(-90deg);
}
#annotation p{
  font-weight: bold;
  font-size:.8em;
  opacity: 0.5;
  margin:0 1em; 
}
#annotation p:first-child{
  color:blue;
}
#annotation p:last-child{
  color:red;
}

#event{ 
  max-height: 20vw;
}
#vis{
  width: 100%; 
  position: relative;
}

#container{
	position: relative;
	width: 100%;
	height: 90vh;
	overflow-y: scroll;
	position: absolute;
	left: 0;
  top: 0;
	text-align: left;
  z-index: 100;
  scrollbar-width: none;
}

#content{
  width: 100%;
  color:transparent;
}

.news {
  width: 100%;
  padding-left: 20px;
  margin:30vh 0;
}
.news p {
  padding-right: 50%;
}
.news a{
  color:transparent;
}
.news:first-child {
  padding-top: 50vh;
}
.news:last-child {
  padding-bottom: 45vh;
}

::-webkit-scrollbar { display: none; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .x.axis path {
  display: none;
} */

/* .line {
  fill: none;
  stroke-width: 1.5px;
} */

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
  height: 10px;
}

#legend-svg{
  position: fixed;
  background: transparent;
  right:1vw;
  display: none;
  z-index: 1000;
}

#exp{
  width: 100%;
}

#chart > svg {
  height: 330px;
}